<mat-toolbar  style="background-color: white;">
    <mat-toolbar-row>
      <span> <img src="../../../assets/images/mindOptimizersMain.png" class="mb-3 mt-1" alt="" height="45"></span>
      <span class="example-spacer"></span>
      <div style="display: inline-block;">
        <img *ngIf="userInfo?.user_photo == null" src="../../../assets/images/feature-img-3.jpg" alt="" class="image" style="border-radius: 50%;">
        <img *ngIf="userInfo?.user_photo != null" src="{{userInfo.user_photo}}" alt="" class="image" style="border-radius: 50%;">
    </div>
      <p class="mt-3 icon-clr">{{userInfo?.email}}</p>
      <button mat-icon-button class="example-icon" title="Log Out" aria-label="Example icon-button with share icon" (click)="logout()">
        <i class="ri-logout-circle-r-line icon-clr" style="font-size:20px;"></i>
      </button>
    </mat-toolbar-row>
    
    <mat-toolbar-row style="border-top: 1px solid #0000002e;">

      <span class="btn navHover" [routerLink]="['/main-dashboard']" >
        <i class="ri-dashboard-3-fill icon-clr"  style="font-size:20px;"></i> <span>Dashboard</span>
      </span>
      <!-- <span class="btn navHover" [routerLink]="['/alerts']">
        <i class="ri-user-3-fill icon-clr" style="font-size:20px;"></i> Profiles
      </span> -->
      <span class="btn navHover" [routerLink]="['/alerts']">
        <i class="ri-alert-fill icon-clr" style="font-size:20px;"></i> Alerts
      </span>

    </mat-toolbar-row>
  </mat-toolbar>

