.main-header{
    position: relative;
    background-color: #11101D;
    color:white;
    position: fixed;
    top: 0;
    z-index:1;
}

.search-bar{
    padding: 5px 20px 5px 40px;
    width:65%;
    border-radius: 50px;
    display:inline;
    margin-top:0%;
    border: none;
}

i.bx-search.bx-search{
    color: black;
    float: left;
    position: relative;
    top: 9px;
    left:32px;
    font-size: 20px;
}

.search-bar:focus{
    border:none;
}

.search-bar:focus + i.bx-search.bx-search{
    /* font-size: 25; */
    color:lightslategray ;

}

.user-info{
    display: inline-flex;
    position: absolute;
    float: right;
    /* margin:0px -1000px 0px 0px; */
    right: 7%;
    top:30%;
    transition: all 0.5s ease;
    
}

.user-info.open{
    /* margin:0px 40px 0px 0px; */
    position: absolute;
    right: 20%;

}

.user-info .user{
    font-size: 18px;
    border: 2px solid white;
    padding:5px;
    border-radius: 50%; 

}

.user-info .user_profile_image{
    /* font-size: 18px; */
    border: 2px solid white;
    padding:4px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem; 

}

.user-info i.notification{
    font-size: 22px;
    margin:5px 5px 0px 0px;
    /* padding-top: 5px; */
}

.user-info p.username{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}


@media (max-width:702px){
    .user-info .username{
        display: none;
    }
    .user-info{
        right: 8%;
    }
    .user-info.open{
        right:8%;
    
    }

    .search-bar{
        display: none;
    }

    i.bx-search.bx-search{
        display: none;
    }
}


@media (min-width:428px) and (max-width:768px){
    .user-info.open{
        margin:0px -50px 0px 0px;
    
    }

    .search-bar{
        position: relative;
        left:25%;
        width:100%;
        margin-top:12%;

    }

    i.bx-search.bx-search{
        top: -1.55rem;
        left:32%;
    }



    
}


@media (min-width:1024px) and (max-width:1300px) {
    .user-info{
        right: 10%;
    }
    .user-info.open{
        right:25%;
    
    }

    .search-bar{
        position: relative;
        left:20%;
        width:100%;
        margin-top:12%;
    }

}

.example-spacer {
    flex: 1 1 auto;
  }

.navHover:hover{
    background-color: #b384d536;
    border: none !important;
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}  

.navHover{
    margin-right:10px;
    /* background-color: #b384d536; */
    border: none !important;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}


.image{
    margin-right:10px;
    width:40px ;
    height:40px;
    /* border-radius: 50%; */
}
  



