.home-section{
position: relative;
background: #E4E9F7;
min-height: 100vh;
top: 0;
left: 78px;
width: calc(100% - 78px);
transition: all 0.5s ease;
/* z-index: 2; */
}
.sidebarisopen{
left: 250px;
width: calc(100% - 250px);
}
/* .home-section .text{
display: inline-block;
color: #11101d;
font-size: 25px;
font-weight: 500;
margin: 18px
} */


@media (min-width:428px) and (max-width:768px) {
    .home-section{
        left: 0;
        width: calc(100% - 0px);
        transition: all 0.5s ease;
    }

    .sidebarisopen{
    left: 78px;
    width: calc(100% - 78px);
    /* z-index: 2; */
    }

    
    
}

@media (max-width:427px) {
    .home-section{
        left: 0;
        width: calc(100% - 0px);
        transition: all 0.5s ease;
    }

    .sidebarisopen{
        left: 0 ;
        width: 100% ;
        z-index: 1 ;
    }
}




.content-page{
    /* margin-left: 240px; */
    overflow-y: scroll;
    padding: 70px 15px 65px 15px;
    /* min-height: 100vh; */
    height: 100vh;
}