.home-section{
position: relative;
background: #E4E9F7;
min-height: 100vh;
top: 0;
left: 78px;
width: calc(100% - 78px);
transition: all 0.5s ease;
/* z-index: 2; */
}
.sidebarisopen{
left: 250px;
width: calc(100% - 250px);
}



@media (min-width:428px) and (max-width:768px) {
    .home-section{
        left: 0;
        width: calc(100% - 0px);
        transition: all 0.5s ease;
    }

    .sidebarisopen{
    left: 78px;
    width: calc(100% - 78px);
    }

    
    
}

@media (max-width:427px) {
    .home-section{
        left: 0;
        width: calc(100% - 0px);
        transition: all 0.5s ease;
    }

    .sidebarisopen{
        left: 0 ;
        width: 100% ;
        z-index: 1 ;
    }
}


.content-page{
    overflow-y: scroll;
    padding: 70px 15px 65px 15px;
    height: 100vh;
}