.alertCard{
    margin-top:0% !important;
    width:50% !important;
    /* margin-left:30%;
    margin-right:50px;
    width:100% !important; */
    
}


::ng-deep  .mat-elevation-z8 {    
    overflow-x: auto;
   }