<div class="row">
 <button type="button" class="btn base-button" style="float:right; margin-left:84%; width:15%;"
 data-toggle="modal" data-target="#exampleModal">Add Alert</button>
</div>
<div class="example-container mat-elevation-z8 mt-4">

    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black; font-size:15px;"> ID </mat-header-cell>
        <mat-cell *matCellDef="let row">  </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black; font-size:15px;"> Message </mat-header-cell>
        <mat-cell *matCellDef="let row">  </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black; font-size:15px;"> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black; font-size:15px;"> Time </mat-header-cell>
        <mat-cell *matCellDef="let row" >  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="condition">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="color: black; font-size:15px;"> Condition </mat-header-cell>
        <mat-cell *matCellDef="let row">  </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]="10"></mat-paginator>
  </div>



  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel" style="color: black;">Add Alert</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
            <div class="row form-group" >
              <div class="col-6" >
                <label  class="form-label text-primary" style="font-weight:bold;">Title</label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="name" style="width: 60%;">
                <span class="text-danger"
                *ngIf="alertconfigFormControl.name.touched && alertconfigFormControl.name.errors?.required">
                Title is required
            </span>
            </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>  