.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background: conic-gradient(rgba(0, 0,0, 25%), black); */
  position: relative;
  animation: spin 1.0s linear infinite;
  transform: translateZ(0);
}

.spinner::after {
  background:white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
